html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }


/* body */

body {
    text-rendering: optimizeLegibility;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    background-color: #ede6e3;
}


/*header*/

header {
    display: flex;
    justify-content: center;
    background-color:#C9B6B6;
    margin-top: 3rem;
    padding-top: 10px;
}

.napis {
    font-family: 'Mr Dafoe', cursive;
}


/* nabidka*/

.offer {
    max-width: 1000px;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.procedura {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    color: #ede6e3;
    background-color: #b38d91;
    border-radius: 20px 20px 20px 0;
    font-size: 1rem;
    max-height: 180px;
    max-width: 180px;
    min-height: 180px;
    min-height: 180px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}


/*ceník*/

.table {
    background-color: #C9B6B6;
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.ceny {
    max-width: 1000px;
    min-width: 1000px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    line-height: 2;
}

.cenik {
    font-weight: 700;
    padding-bottom: 1rem;
}

.cena {
    text-align: right;
}


/* rezervace button*/

.rezervace {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 2rem auto 2rem auto;
}

button {
    top: 700px;
    right: 380px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ede6e3;
    border: 8px solid #b38d91;
    border-radius: 50%;
}

button:hover {
    background-color: #C9B6B6;
}

a.online {
    text-transform: uppercase;
    color: #b38d91;
    text-decoration: none;
}

a:hover {
    color: #ede6e3;
}


/*dalsi sluzby*/

.dalsi {
    background-color: #b38d91;
}

.sluzby {
    max-width: 1000px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    line-height: 2;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

li {
    background-color: #ede6e3;
    padding: 1rem 2rem;
    border-radius: 15px 15px 15px 0;
}

.cenik,
h3 {
    font-size: 1rem;
    font-weight: 700;
}


/* paticka*/

.footer {
    max-width: 1000px;
    min-width: 1000px;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0 auto 1rem auto;
    padding: 2rem;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 500;
}

.partneri {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.part1,
.part2 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
 }

 .part2 {
    padding-top: 1rem;
 }

 .adresa {
    font-weight: normal;
 }

 .pat3 {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.facebook {
    padding-top: 2rem;
}













/* barva růžová  #b38d91
   barva krémová #ede6e3
   barva světle růžová #C9B6B6

