html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }


/* body */

body {
    text-rendering: optimizeLegibility;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    background-color: #ede6e3;
}



/*header*/

header {
    display: flex;
    justify-content: center;
    background-color:#C9B6B6;
    position: relative;
    margin-top: 3rem;
    padding-top: 10px;
}

.nadpis {
    font-family: 'Mr Dafoe', cursive;
}


/* nabidka*/

.offer {
    max-width: 1000px;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

p {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    color: #ede6e3;
    background-color: #b38d91;
    font-size: 1rem;
    max-height: 180px;
    max-width: 180px;
    min-height: 180px;
    min-height: 180px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}


/*ceník*/

.table {
    background-color: #C9B6B6;
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.ceny {
    max-width: 1000px;
    min-width: 1000px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    line-height: 2;
}

.cenik {
    font-weight: 700;
    padding-bottom: 1rem;
}


/* rezervace button*/

.rezervace {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration-line: none;
}










/* barva béžová  #B3ABA0
   barva růžová  #b38d91
   barva krémová #ede6e3
   barva světle růžová #C9B6B6

